/* 1em = 16pixels */


.pai
{
    background-color:blueviolet;
    width: 50%;
    font-size: 1.5rem;
}
.filha {
    background-color: chartreuse;
    width: 50%;
    font-size: .5rem;
}

html{
    background-color: cornflowerblue;
    font-size: 32px;


}
body{
    background-color: crimson;
    width: 50%;
    font-size: 3rem;
}