html{
    background-color: rgb(22, 42, 42);
}
.pixel{
    background-color: cyan;
    width: 200px;
    height: 200px;
}
.dois{
    background-color: darkblue;
    width: 200px;
    height: 200px;
        

}